[submodule "fei"]
	path = fei
	url = https://github.com/EdwinRVLK/fei.git

[submodule "e-commerce"]
	path = e-commerce
	url = https://github.com/EdwinRVLK/e-commerce.git

[submodule "poema"]
	path = poema
	url = https://github.com/EdwinRVLK/poema.git
